.swiper {
  width: 100%;
  margin: 25px auto;
}

.banner-image {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.banner-image:hover {
  transform: scale(1.02);
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffffff;
}

.swiper-pagination-bullet {
  background: white;
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background: #facc15;
  opacity: 1;
}